# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
*.expo
*.expo.js
*.expo.ts
*.expo.tsx

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Firebase service account credentials
serviceAccountKey.json

# Build and output directories
build/
output/

# Log files
*.log

# Temporary files
tmp/
temp/

# IDE specific files
.vscode/
.idea/

# Coverage reports
coverage/
